<div class="mdl-mini-footer--left-section sns-list">
    <!-- Twitter -->
    <% if(theme.sns.twitter) { %>
        <a href="<%= theme.sns.twitter %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn footer-sns-twitter">
                <span class="visuallyhidden">Twitter</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Facebook -->
    <% if(theme.sns.facebook) { %>
        <a href="<%= theme.sns.facebook %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn footer-sns-facebook">
                <span class="visuallyhidden">Facebook</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Instagram -->
    <% if(theme.sns.instagram) { %>
        <a href="<%= theme.sns.instagram %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn footer-sns-instagram">
                <span class="visuallyhidden">Instagram</span>
            </button><!--
     --></a>
    <% } %>

    <!-- Github -->
    <% if(theme.sns.github) { %>
        <a href="<%= theme.sns.github %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn footer-sns-github">
                <span class="visuallyhidden">Github</span>
            </button><!--
     --></a>
    <% } %>

    <!-- LinkedIn -->
    <% if(theme.sns.linkedin) { %>
        <a href="<%= theme.sns.linkedin %>" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn footer-sns-linkedin">
                <span class="visuallyhidden">LinkedIn</span>
            </button><!--
     --></a>
    <% } %>
</div>
